@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');

body {
	font-family: 'Black Han Sans', sans-serif;
	background-color: purple;
	text-align: center;
}

p {
	color: black
}

a {
	color: black
}

h1 {
	color: black;
	text-align: center;
}